# Wireguard - Client Conf

[Interface]
Address = {{ wg_ip }}
PrivateKey = {{ wireguard_private_key.stdout }}

[Peer]
PublicKey = {{ wireguard_srv_public_key.stdout }}
Endpoint = {{ wg_endpoint }}:51820
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25
