# Wireguard Server Conf

[Interface]
Address = 10.8.8.254
PrivateKey = {{ wireguard_srv_private_key.stdout }}
ListenPort = 51820

# packet forwarding
PreUp = sysctl -w net.ipv4.ip_forward=1 ; sysctl -p

# port forwarding
PreUp = iptables -t nat -A PREROUTING -d {{ '{{' }} ansible_default_ipv4.address {{ '}}' }} -p tcp -j DNAT --to-destination {{ wg_ip }}
PostDown = iptables -t nat -D PREROUTING -d {{ '{{' }} ansible_default_ipv4.address {{ '}}' }} -p tcp -j DNAT --to-destination {{ wg_ip }}

# packet masquerading
PreUp = iptables -t nat -A POSTROUTING -o {{ '{{' }} ansible_default_ipv4.interface {{ '}}' }} -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -o {{ '{{' }} ansible_default_ipv4.interface {{ '}}' }} -j MASQUERADE

[Peer]
PublicKey = {{ wireguard_public_key.stdout }}
AllowedIPs = {{ wg_ip }}
