# PoneyPot - Wireguard Server Conf

[Interface]
Address = 10.8.8.254
PrivateKey = {{ wireguard_private_key.stdout }}
ListenPort = 51820

# packet forwarding
PreUp = sysctl -w net.ipv4.ip_forward=1 ; sysctl -p

# port forwarding
PreUp = iptables -t nat -A PREROUTING -d {{ ansible_default_ipv4.address }} -p tcp -j DNAT --to-destination 10.8.8.1
PostDown = iptables -t nat -D PREROUTING -d {{ ansible_default_ipv4.address }} -p tcp -j DNAT --to-destination 10.8.8.1

# packet masquerading
PreUp = iptables -t nat -A POSTROUTING -o %i -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -o %i -j MASQUERADE

[Peer]
PublicKey = CHANGE_ME
AllowedIPs = 10.8.8.1
